pkgbase = quicksave
	pkgdesc = Save before doing something stupid
	pkgver = 1.2
	pkgrel = 1
	url = https://github.com/mbloms/quicksave
	arch = any
	license = Unlicense
	depends = btrfs-progs
	depends = rsync
	depends = fish
	source = quicksave
	source = LICENSE
	md5sums = 5d093512a3a1c7f4472630102ebb08ad
	md5sums = d88e9e08385d2a17052dac348bde4bc1

pkgname = quicksave

